#                          Segmenting and Clustering Neighborhoods in Toronto

## Importing all Libraries before I start.

In [60]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

### Obtaining the HTML Code for the webpage which contains the Canada Neighbourhood data [Link](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M)

In [61]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

### BeautifulSoup needs quite a bit of coding to parse the table but it can be done in pandas prety easy hence using Pandas to parse the table from the webpage

The below code gives me a list of the table as displayed

In [190]:
dfs = pd.read_html(source,header=0)
type(dfs)
dfs

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M5A  Downtown Toronto
 6        M6A        North York
 7        M6A        North York
 8        M7A      Queen's Park
 9        M8A      Not assigned
 10       M9A         Etobicoke
 11       M1B       Scarborough
 12       M1B       Scarborough
 13       M2B      Not assigned
 14       M3B        North York
 15       M4B         East York
 16       M4B         East York
 17       M5B  Downtown Toronto
 18       M5B  Downtown Toronto
 19       M6B        North York
 20       M7B      Not assigned
 21       M8B      Not assigned
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M9B         Etobicoke
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M1C       Scarborough
 ..       ...               ...
 259      M9X      Not assigned
 260      M1Y      Not assigned
 261      M2Y      Not assigned
 262      M3Y      Not assigned
 263      M4Y  Downtown Toronto
 264      M5Y      Not assigned
 265      M6Y      Not assigned
 266      M7Y      East Toronto
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M8Y         Etobicoke
 274      M8Y         Etobicoke
 275      M9Y      Not assigned
 276      M1Z      Not assigned
 277      M2Z      Not assigned
 278      M3Z      Not assigned
 279      M4Z      Not assigned
 280      M5Z      Not assigned
 281      M6Z      Not assigned
 282      M7Z      Not assigned
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M8Z         Etobicoke
 287      M8Z         Etobicoke
 288      M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                                         Harbourfront
 5                                          Regent Park
 6                                     Lawrence Heights
 7                                       Lawrence Manor
 8                                         Not assigned
 9                                         Not assigned
 10                                    Islington Avenue
 11                                               Rouge
 12                                             Malvern
 13                                        Not assigned
 14                                     Don Mills North
 15                                    Woodbine Gardens
 16                                       Parkview Hill
 17                                             Ryerson
 18                                     Garden District
 19                                           Glencairn
 20                                        Not assigned
 21                                        Not assigned
 22                                          Cloverdale
 23                                           Islington
 24                                        Martin Grove
 25                                    Princess Gardens
 26                                     West Deane Park
 27                                      Highland Creek
 28                                          Rouge Hill
 29                                          Port Union
 ..                                                 ...
 259                                       Not assigned
 260                                       Not assigned
 261                                       Not assigned
 262                                       Not assigned
 263                               Church and Wellesley
 264                                       Not assigned
 265                                       Not assigned
 266  Business Reply Mail Processing Centre 969 Eastern
 267                                         Humber Bay
 268                                   King's Mill Park
 269                           Kingsway Park South East
 270                                          Mimico NE
 271                                     Old Mill South
 272                                 The Queensway East
 273                              Royal York South East
 274                                           Sunnylea
 275                                       Not assigned
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                                       Not assigned
 282                                       Not assigned
 283                           Kingsway Park South West
 284                                          Mimico NW
 285                                 The Queensway West
 286                              Royal York South West
 287                                     South of Bloor
 288                                       Not assigned

 [289 rows x 3 columns],
                                           Unnamed: 0 Canadian postal codes  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...                    NL
 1                                                 NL                    NS
 2                                                  A                     B

   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
 0         NS         PE         NB         QC         ON         MB
 1         PE         NB         QC         ON         MB         SK
 2          C          E          G          H          J          K

   Unnamed: 8 Unnamed: 9     ...     Unnamed: 21 Unnamed: 22 Unnamed: 23  \
 0         SK         AB     ...               L           M           N
 1         AB         BC     ...             NaN         NaN         NaN
 2          L          M     ...             NaN         NaN         NaN

   Unnamed: 24 Unnamed: 25 Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29  \
 0           P           R           S           T           V           X
 1         NaN         NaN         NaN         NaN         NaN         NaN
 2         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 30
 0           Y
 1         NaN
 2         NaN

 [3 rows x 31 columns],
   NL NS PE NB QC ON MB SK AB BC NU/NT YT Unnamed: 12 Unnamed: 13 Unnamed: 14  \
 0  A  B  C  E  G  H  J  K  L  M     N  P           R           S           T

   Unnamed: 15 Unnamed: 16 Unnamed: 17
 0           V           X           Y  ]

Converting the list to a DataFrame and displaying the head of the Dataframe

In [191]:
Canada_df = dfs[0]
Canada_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [194]:
#Check the current shape of the DataFrame
Canada_df.shape

(289, 3)

The below code filters out rows from **Borough** which contain **Not assigned**

In [195]:
CDF = Canada_df[~Canada_df.Borough.str.contains("Not assigned")]
CDF.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [124]:
#Shape shows that rows with Not assigned in Brough has been dropped
CDF.shape

(212, 3)

In [196]:
#Creating a copy of the Dataframe
CDF2 = CDF

### Grouping data by the Postcode and Borough

In [199]:
## Initially I am grouping the data by the first two columns and applying the join function to concat the strings to once 
## cell in Neighbourhood column
Canada_Series = CDF2.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x)) ##
type(Canada_Series)
## o/p will be a pandas series

pandas.core.series.Series

In [200]:
## Converting the Pd series to a Dataframe
CDF3 = Canada_Series.to_frame()
CDF3.reset_index(level=['Postcode','Borough'], inplace=True) #Resetting the index 
CDF3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Checking if there are any "Not assigned" values in the "Neighbourhood" Column

In [201]:
CDF4 = CDF3[CDF3.Neighbourhood.str.contains("Not assigned")]
CDF4 # Found one row

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

As there was only one row with Not assigned value changing the changing the vaule manually.

In [204]:
CDF3.loc[85,'Neighbourhood'] = CDF3.loc[85,'Borough'] #Copying the vaule in Borough to Neighbourhood
#Displaying the changes
CDF3.loc[85]

Postcode                  M7A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 85, dtype: object

## Loading the Geospatial Coordinates data to a dataframe

In [ ]:
datapath = "http://cocl.us/Geospatial_data"
geospac = pd.read_csv(datapath)
geospac.head()

### Now as the data is loaded to a DF. I am Merging the two DataFrames into one.

In [207]:
# The merge function lets me merge two dataframe on an same column with same data.
dfinal = CDF3.merge(geospac, how = 'inner',left_on='Postcode', right_on='Postal Code')
dfinal = dfinal.drop(labels='Postal Code',axis=1) # as the above line adds both the columns dropping one of the column
dfinal.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

#### Displaying the shape of the Data Frame

In [208]:
dfinal.shape

(103, 5)